.Masterminds {
  max-width: 1440px;
  width: 100%;
  padding: 48px 144px;
  margin: auto;
}
.orangebox {
  max-width: 1152px;
  display: flex;
  flex-direction: column;
  height: 628px;
  margin: auto;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(255, 233, 218, 0.78) -16.43%,
    rgba(255, 255, 255, 0) 107.25%
  );
}

.highlightbox {
  margin: 56px auto;
  display: flex;
  align-items: center;
  height: fit-content;
  flex-direction: column;
}
.textofMentorship {
  color: var(--Neutrals-neutral---800, #08080c);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.245px;
  width: 72px;
}
.highlightbox .frame {
  margin-bottom: 12px;
  width: 100px;
  padding: 4px 10px;
}
.highlightbox h3 {
  color: #08080c;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: -0.4px;
}
.highlightbox p {
  color: var(--Neutrals-neutral---600, #6a6a6b);
  width: 343px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.245px;
}
.benefitsofbullets {
  display: flex;
  margin-bottom: 40px;
}
.benefitsofmentors {
  margin: 96px;
}
.benefitsofmentors .imgholder {
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: white;
}
.benefitsofbullets h5 {
  margin-left: 24px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.06px;
}
.chat-container {
  max-width: 405px;
  width: 100%;
  margin: 0px auto;
}
.message {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  margin-bottom: 12px;
  width: 282px;
  height: 67px;
}
.textChat {
  display: flex;
  padding: 10px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  border-radius: 4px;
  background: var(--Neutrals-neutral-BG, #fdfdff);
  width: 246px;
  margin-top: 0px;
}
.message.bot {
  margin-left: 120px;
}
.textChat p {
  color: var(--Neutrals-neutral---700, #39393d);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}
.avatar {
  position: relative;
  top: 35px;
}
