.ChooseCard {
  max-width: 352px;
  width: 100%;
  margin: 0px auto;
}
.cardhead {
  text-align: center;
  font-size: 32px;
  line-height: 40px; /* 125% */
}

.cardarrange {
  display: flex;
  padding: 40px 16px 60px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  align-self: stretch;
}

.cardhead span {
  color: var(--blue-color);
}
@media (min-width: 768px) {
  .ChooseCard {
    max-width: 1152px;
    width: 100%;
    margin: 80px auto 120px;
  }
  .cardhead {
    color: var(--Neutrals-neutral---800, #08080c);
    font-size: 56px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 114.286% */
    letter-spacing: -0.42px;
    margin-bottom: 96px;
  }
  .cardarrange {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 80px;
  }
}
