.progress-wrapper {
  max-width: 293px;
  width: 100%;
  margin: 100px auto 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-line {
  position: relative;
  width: 80%;
  height: 2px;
  background-color: var(--unvisited-color);
  margin-bottom: 12px;
}
.progress-line.visited-line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  width: 100%;
  background-color: var(--visited-color);
  z-index: 0;
}

.dot {
  position: absolute;
  top: -3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--unvisited-color);
}

.dot:first-child {
  left: 0;
}

.dot:last-child {
  right: 0;
}

.dot.active {
  background-color: var(--active-color);
}

.dot.visited {
  background-color: var(--visited-color);
}

.labels {
  width: 100%;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.label {
  color: var(--unvisited-color);
}

.label.active {
  color: var(--active-color);
  font-weight: 500;
}

.label.visited {
  color: var(--visited-color);
  font-weight: 500;
}

@media screen and (max-width: 550px) {
  .labels .label {
    display: none;
  }

  .labels .label.active {
    display: block;
    text-align: center;
    width: 100%;
  }

  .labels {
    justify-content: center;
  }
  .progress-wrapper {
    margin: 48px auto;
  }
}
