@import url("https://fonts.cdnfonts.com/css/satoshi");
:root {
  font-size: 16px;
  --blue-color: #006af5;
  --orange-color: #ff6c0a;
  --green-color: #0fa958;
  --font-primary: "satoshi", sans-serif;
  --active-color: #006af5;
  --visited-color: #004093;
  --unvisited-color: #e6e6e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  cursor: pointer;
}
